@page
@model IndexModel
@{
    ViewData["Title"] = "Jasper Nisly Debut";
}

<div class="text-center">
    <h1 class="display-4">How's Tricks</h1>
    <p>Learn about pistachios <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
